
<nav class="nav navbar-expand-lg bg-light d-flex justify-content-right">

    <div class="container-fluid form-control">

        <a class="navbar-brand" href="/users/logout">Log Out</a> 
        <a class="navbar-brand" href="/users/profile">Profile</a>
    </div>
    
</nav>
<div id="searchBackground">

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">

        

            <form class="d-flex flex-column w-25 form-control text-center"  method="GET" action="/anime">
                <p class="searchP"><b>Search for your favorite Anime below!</b></p>
                <input id="search" type="text" name="animeSearch" class="form-control" />
                <label for="search" class="searchP"></label>
                <br>
                <button type="submit">Search</button>
            </form>
        
        
        
        
    </div>
</div>