<div id="homePage">

    <div class="container myFlexZone d-flex flex-column justify-content-center align-items-center">
        
        
        <h2 class="indexH2" data-text="Welcome^_^!">Welcome^_^!</h2>
        
        
        
        
        <div class="d-flex flex-column w-25 form-control myColor ">
            
            <div class="mb-3 form-floating text-center">
                <p>Make sure you login or sign up before searching!</p>
                <a href="/users/login">Log in</a>
                
                <a href="/users/signup">Sign up</a>
            </div>
            
        </div>
        
        
    </div>
    
</div>







<!-- <form action="/users/login" method="POST">
<label for="email">Email:</label>
<input id="email" type="email" name="email" placeholder="Enter your email" required/>

<label for="password">Password:</label>
<input id="password" type="password" name="password" placeholder="Enter your password" required/>

<button type="submit">Login!</button>
</form> -->

