<h2>This is where you can go on an adventure and search up your favorite anime!</h2>
<div class="justify-content-center form control">
    <div class="d-flex flex-column w-25 justify-content-center form control">
        <p>Make sure you login or sign up before browsing!</p>

    </div>

    <div class="d-flex flex-column w-25 form-control text-center">
        <a href="/users/login">Log in</a>
        <a href="/users/signup">Sign up</a>

    </div>

</div>






<!-- <form action="/users/login" method="POST">
<label for="email">Email:</label>
<input id="email" type="email" name="email" placeholder="Enter your email" required/>

<label for="password">Password:</label>
<input id="password" type="password" name="password" placeholder="Enter your password" required/>

<button type="submit">Login!</button>
</form> -->

