<link rel="stylesheet" href="/css/style.css"/>
<div id="editBackground">

    <nav class="nav navbar-expand-lg bg-info d-flex justify-content-center">
        
        <p class="navbar-brand p-1">AniSearch</p>
        
        <a class="navbar-brand p-1" href="/users/logout">Log Out</a>
        <a class="navbar-brand p-1" href="/search">Search</a>
    </nav>
    
    <!-- the page where you edit the comment and update it -->
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
        
        
        <h1 class="h1Color text-center d-flex flex-column">Make your edit!</h1>
        <form method="POST" class="d-flex flex-column w-25 form-control text-center" action="/anime/edit/?_method=PUT">
            <input type="text" class="form-control text-center" name="comment" placeholder="Edit here!" />
            <input type="text" class="form-control" hidden value="<%= editComment.animeId %>" name="id"/>
            <button type="submit">Edit</button>
        </form>
    </div>
</div>