<a href="/users/logout">Log Out</a>
<a href="/search">Search</a>
<h2>Profile Page!   </h2>



<h3>Welcome to AniSearch <%=user.email%>!</h3>
<h3>Links:</h3>
<% saveAnime.forEach(anime => {%>
<ul>
   <li>
       <a href='/anime/<%=anime.animeId%>'><%=anime.title%></a>
       <form method="POST" action="/users/profile/?_method=DELETE">
           <input hidden value="<%=anime.id%>" name="id"/>
           <button type="submit">Delete</button>
       </form>
   </li> 

</ul>    
<%})%>

