<link rel="stylesheet" href="../css/style.css"/>
<nav class="nav navbar-expand-lg  d-flex flex-row-reverse">
    
    <div class="container-fluid form-control">
        
        <a class="navbar-brand p-2" href="/users/logout">Log Out</a>
        <a class="navbar-brand p-2" href="/search">Search</a>
    
    </div>
</nav>

<div id="profilePage">

    
    <!-- <h2><b>Profile Page!</b></h2> -->
    
    
    
    <h3><b>Welcome to AniSearch <%=user.email%>!</b></h3>
    <h3><b>Links:</b></h3>
    <% saveAnime.forEach(anime => {%>
        <ul>
            <li>
                <a href='/anime/<%=anime.animeId%>'><%=anime.title%></a>
                <form method="POST" action="/users/profile/?_method=DELETE">
                    <input hidden value="<%=anime.id%>" name="id"/>
                    <button type="submit">Delete</button>
                </form>
            </li> 
            
        </ul>    
        <%})%>
        
        
    </div>